.idea
.git
/build/
/.venv/
/src/geckodriver.log
/.mypy_cache/
/cookieserver/tests/.pytest_cache/
/cookieserver/tests/geckodriver.log
/.env
/cookieserver/keys/key.pem
/cookieserver/keys/cert.pem
/cookieserver/accounts/*